*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

#jumbotron{
  text-align: center;
  padding: 5em inherit;
  padding-bottom: 1%;
}
h2 {
  font-size: 3em;
  margin: 0px;
  margin-top: 0.45em;
  margin-bottom: 0.45em;
}

#generate {

  background-color: blue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}
#copy{
 
  background-color: blue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

button:hover {
  background-color: #0288d1;
}

.input-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

label {
  color: #212121;
}

input {
  background-color: #f1f3f4;
  border-radius: 2px;
  border-width: 0;
  color: #5f6368;
  font-size: 1em;
  height: 45px;
  line-height: 20px;
  margin: 0;
  margin-top: 10px;
  max-width: 100%;
  padding: 8px 8px 8px 8px;
  transition-delay: 0s, 0s;
  transition-duration: 0.2s, 0.2s;
  transition-property: background-color, color;
  transition-timing-function: ease, ease;
  vertical-align: middle;
  width: 100%;
}


input:hover {
  background-color: #e8eaed;
}

.card {
 
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
    text-align: center;
    float: left; */
}

.card::after {
  content: " ";
  display: block;
  clear: both;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

#user-password{
  border: dashed; 
}
#msg.success,
#msg.error {
  visibility: visible;
}

#msg.success {
  color: #52b155;
}

#msg.error {
  color: #e6252c;
}
footer {
  background-color: #0288d1;
  height: 10%;
  bottom: 0;
  width: 100%;
}